.cart__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  /* height: 100vh; */
  margin-top: 128px;
  width: 100%;
}

.cart__main-wrapper {
  flex-direction: column;
  max-width: 1080px;
  height: calc(100vh - 128px - 52px);
}

.cart__content-wrapper {
  flex-direction: column;
  display: flex;
}

.cart__upper-wrapper {
  display: flex;
  flex-direction: row;
}

.cart__left-wrapper {
  margin-bottom: 64px;
  max-width: 680px;
}

.cart__list-title {
  display: flex;
  align-items: center;
  background-color: rgb(240, 245, 247);
  color: rgb(25, 42, 50);
  font-size: 18px;
  font-weight: 700;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  padding-left: 24px;
  border: 1px solid rgb(212, 227, 235);
  margin-bottom: 0px;
}

.cart__item-wrapper {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgb(212, 227, 235);
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgb(212, 227, 235);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(212, 227, 235);
  transition-duration: 0.5s;
  transition-timing-function: initial;
  transition-delay: initial;
  transition-property: opacity;
}

.cart__empty-wrapper {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgb(212, 227, 235);
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgb(212, 227, 235);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(212, 227, 235);
  transition-duration: 0.5s;
  transition-timing-function: initial;
  transition-delay: initial;
  transition-property: opacity;
  height: 265px;
  width: 611px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: solid 1px rgb(212, 227, 235);
}

.cart__icon-svg {
  width: 20px;
  height: 17px;
}

.cart__empty-text {
  margin-top: 16px;
  margin-bottom: 24px;
  color: rgb(25, 42, 50);
}

.cart__empty-shopping {
  color: rgb(255, 255, 255);
  background-color: rgb(47, 183, 236);
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  position: relative;
  border-radius: 4px;
  padding-right: 16px;
  padding-left: 16px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: initial;
  transition-property: background-color;
  font-weight: normal;
}

.cart__empty-shopping:hover {
  background-color: rgb(0, 152, 211);
}

.cart__item-inner-wrapper {
  display: flex;
  padding: 24px;
}

.cart__product-image-wrapper {
  margin-top: 0px;
  margin-right: 24px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 128px;
  height: 128px;
  flex-shrink: 0;
}

.smooth-image-cart {
  object-fit: cover;
  box-sizing: border-box;
  width: 128px;
  height: 128px;
  border: 1px solid rgb(248, 250, 251);
  position: relative;
}

.image-visible {
  opacity: 1;
}

.image-hidden {
  opacity: 0;
}

.cart__product-info {
  font-size: 14px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  max-width: 370px;
}

.cart__product-name {
  color: rgb(25, 42, 50);
  font-size: 14px;
  font-weight: 700;
  overflow-wrap: break-word;
  line-height: 20px;
  margin-bottom: 8px;
}

.cart__product-detail {
  color: rgb(72, 99, 111);
  line-height: 20px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.cart__product-shipping-svg {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}

.cart__product-quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 16px;
}

.cart__quantity-box {
  margin-top: 0px;
  box-sizing: border-box;
  width: 64px;
  color: rgb(25, 42, 50);
  border-radius: 2px;
  border: solid 1px rgb(212, 227, 235);
  background-color: rgb(248, 250, 251);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cart__quantity-select {
  box-sizing: border-box;
  padding-left: 16px;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  min-height: 42px;
  width: calc(100% - 32px);
  display: flex;
  align-items: center;
}

.cart__quantity-select::after {
  display: block;
  content: "";
  min-height: inherit;
  font-size: 0px;
}

.cart__quantity-arrow {
  display: flex;
  margin-top: 0px;
  margin-right: 12px;
  width: 8px;
  transform: rotateZ(0deg);
  transition-duration: 0.3s;
  transition-timing-function: initial;
  transition-delay: initial;
  transition-property: all;
}

.cart__quantity-svg {
  height: 5px;
  width: 8px;
  transform: rotate(0deg); 
  transform: translateY(1px);
  transition: all 0.25s ease;
}

.cart__quantity-svg.svg-flip {
  transform: rotate(180deg);
}

.cart__quantity-dropdown {
  display: inline-block;
  height: auto;
  max-height: 252px;
  width: 100%;
  position: absolute;
  z-index: 1;
  overflow-y: scroll;
  top: 42px;
  /* padding-right: 16px; */
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  border: none;
  box-sizing: border-box;
  transition: max-height 0.5s ease;
}

.cart__quantity-dropdown:after {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: 2px;
  border: 1px solid rgb(212, 227, 235);
  pointer-events: none;
}

.cart__quantity-dropdown.hide-dropdown {
  max-height: 0;
}

.cart__quantity-number {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  min-height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.cart__quantity-number:hover {
  background-color: rgb(248, 250, 251);
}

.cart__product-remove {
  color: rgb(0, 152, 211);
  font-size: 16px;
  font-weight: 300;
  margin-left: 16px;
  cursor: pointer;
}

.cart__price-info {
  display: flex;
  font-size: 16px;
  font-weight: 300;
  margin-left: 48px;
  justify-content: flex-end;
  flex-grow: 1;
}

.cart__price-original {
  display: table;
  color: rgb(175, 199, 209);
  text-decoration-line: line-through;
  text-decoration-style: initial;
  text-decoration-color: initial;
  text-decoration: line-through;
}

.cart__price-ending {
  color: rgb(25, 42, 50);
  margin-left: 4px;
}

.cart__right-wrapper {
  margin-left: 24px;
  align-self: flex-start;
}

.cart__fixed-wrapper {
  position: fixed;
  min-width: 300px;
  max-width: 350px;
}

.cart__order-header {
  background-color: rgb(240, 245, 247);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 16px;
  padding-left: 16px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  border:1px solid rgb(212, 227, 235);
  color: rgb(25, 42, 50);
  margin-bottom: 0px;
}

.cart__order-wrapper {
  padding: 16px;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgb(212, 227, 235);
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgb(212, 227, 235);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(212, 227, 235);
}

.cart__pricing {
  font-size: 14px;
  font-weight: 300;
  margin-top: 16px;
  border-bottom: 1px solid rgb(240, 245, 247);
  padding-bottom: 16px;
}

.cart__pricing.cart-empty {
  border-bottom: none;
}

.cart__price-row {
  display: flex;
  justify-content: space-between;
  color: rgb(25, 42, 50);
  margin-top: 7px;
}

.cart__tax-text {
  text-align: end;
  margin-top: 7px;
  color: rgb(25, 42, 50);
}

.cart__button-wrapper {
  margin-top: 16px;
  border-bottom: 1px solid rgb(240, 245, 247);
  padding-bottom: 16px;
  box-sizing: border-box;
}

.cart__button {
  box-sizing: border-box;
  border-radius: 4px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 16px;
  padding-left: 16px;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 86, 34);
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-property: background-color;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.cart__return-policy-wrapper {
  display: flex;
  padding-top: 12px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.cart__return-svg-wrapper {
  width: 14px;
  height: 16px;
}

.cart__return-text {
  font-size: 12px;
  font-weight: 300;
  color: rgb(0, 152, 211);
  margin-left: 8px;
}