.dashboard {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  flex-direction: column;
  padding-left: 115px;
  padding-right: 250px;
  padding-top: 52px;
}

body {
  margin: 0;
  font-size: 13px;
  font-family: "proximanova", sans-serif;
  background-color: rgb(248, 250, 251);
  transition: background-color 0.5s ease;
}

body.no-scroll {
  margin: 0;
  font-size: 13px;
  font-family: "proximanova", sans-serif;
  background-color: rgb(248, 250, 251);
  transition: background-color 0.5s ease;
  overflow-y: hidden;
}

body.cart-visible {
  background-color: rgb(255, 255, 255);
}