.filter__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 115px;
  top: 52px;
  width: calc(100% - 250px - 115px);
  transition: all 0.35s ease 0s;
  z-index: 2;
  background-color: rgb(248, 250, 251);
  padding: 12px 0px;
  /* overflow: hidden; */
  /* max-width: 900px; */
}

.filter__tags {
  display: flex;
  width: auto;
}

.filter__tag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 12px;
  margin: 0px 8px;
  border-radius: 26px;
  height: 40px;
  border: 1px solid rgb(175, 199, 209);
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgb(72, 99, 111);
  font-size: 16px;
  font-weight: 300;
}

.filter__tag-path {
  display: flex;
  align-items: center;
  width: auto;
}

.filter__tag.tag-selected {
  background-color: rgb(175, 199, 209);
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.filter__tag-close {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  height: 20px;
  width: 20px;
  margin-left: 8px;
}

.filter__tag-close-svg {
  width: 10px;
  height: 10px;
  color: rgb(175, 199, 209);
}

.filter__button-wrapper {
  position: fixed;
  left: 160px;
  display: flex;
  justify-content: center;
  z-index: 2;
  transform: translateX(-50%);
}

.filter__button-icon {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: rgba(72, 99, 111, 0.5) 0px 3px 12px 0px;
}

.filter__button-icon-svg {
  width: 40px;
  height: 40px;
}

.filter__button-count {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 300;
  white-space: nowrap;
  color: rgb(25, 42, 50);
  margin-top: 4px;
}

.filter__choices-wrapper {
  position: fixed;
  top: 52px;
  left: 72.5px;
  margin-left: 36px;
  display: flex;
  padding: 24px;
  max-height: 300px;
  max-width: 1000px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(212, 227, 235);
  overflow: hidden;
  transition: max-width 0.5s ease 0s, max-height 0.5s ease 0s, padding 0.5s ease 0s, border 0.5s ease 0s;
  z-index: 5;
}

.filter__choices-wrapper.hide-choices {
  max-height: 0px;
  max-width: 0px;
  padding: 0px;
  border: 0px solid rgb(212, 227, 235);
}

.filter__choices-close-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 16px;
}

.filter__choices-close-button {
  border-radius: 4px;
  padding: 0px 16px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  height: 40px;
  min-width: 104px;
  background-color: rgb(47, 183, 236);
  color: rgb(255, 255, 255);
  transition: background-color 0.2s ease 0s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.filter__choices-clear-all {
  color: rgb(47, 183, 236);
  margin-top: 16px;
  cursor: pointer;
}

.filter__ratings-wrapper {
  padding: 0px 24px 0px 16px;
  border-right: 1px solid rgb(212, 227, 235);
  flex-shrink: 0;
  min-width: 120px;
}

.filter__ratings-wrapper:first-child {
  padding-left: 0px;
}

.filter__ratings-title {
  margin-bottom: 24px;
  color: rgb(25, 42, 50);
  font-size: 16px;
  font-weight: 600;
}

.filter__rating-option {
  display: flex;
  cursor: pointer;
  flex-shrink: 0;
  align-items: center;
  line-height: 1.15;
  font-size: 15px;
  font-weight: 300;
}

.filter__rating-radio {
  width: 16px;
  height: 16px;
  border: 2px solid rgb(212, 227, 235);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.filter__rating-radio.radio-selected {
  border: 2px solid rgb(47, 183, 236);
}

.filter__rating-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transition: background-color 0.1s linear 0s;
}

.filter__rating-dot.dot-selected {
  background-color: rgb(47, 183, 236);
}

.filter__stars-wrapper {
  padding: 8px 0px 8px 4px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.filter__star {
  height: 16px;
  width: 16px;
  cursor: auto;
  margin: 0px 1px;
}

.filter__price-text {
  padding: 8px 0px 8px 4px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}