body {
  font-size: 13px;
  font-family: Helvetica, Arial;
}

.feed {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
}

.feed__logo-button {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  /* content: ' '; */
  z-index: 5;
}

.feed__tabs {
  display: flex;
  position: fixed;
  flex-direction: column;
  left: 0px;
  background-color: white;
  padding-top: 52px;
  max-width: 140px;
  position: fixed;
  z-index: 4;
  top: 0px;
  left: 0px;
  bottom: 0px;
  overflow-x: hidden;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgb(240, 245, 247);
}

.feed__top-features {
  font-size: 14px;
  font-weight: 700;
  padding-top: 18px;
  padding-right: 14px;
  padding-left: 14px;
  padding-bottom: 14px;
  color: rgb(25, 42, 50);
}

.feed__tabs button {
  cursor: pointer;
  outline: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 0px;
  padding-left: 0px;
  border-color: transparent;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-right: 2px;
  color: rgb(25, 42, 50);
  font-size: 14px;
  font-weight: 300;
  background-color: rgb(255, 255, 255);
  transition: color .1s, border-color .1s, background .1s;
}

.feed__tabs button:hover {
  background-color: rgb(240, 245,	247);
  font-weight: 700;
}

.feed__tabs button.pressed {
  background-color: rgb(211, 227, 235);
  font-weight: 700;
}

.feed__tabs button.pressed:hover {
  background-color: rgb(240, 245,	247);
  font-weight: 700;
}

.feed__sidebar-icon {
  width: 18px;
  height: 18px;
  margin: auto 5px auto 10px;
}

.feed__sidebar-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: rgb(25, 42, 50);
  overflow-wrap: normal;
}

.feed__scroll-wrapper {
  display: flex;
  width: 100%;
  background-color: rgb(248, 250, 251);
  transition: background-color 0.5s ease;
}

.feed__scroll-wrapper.cart-visible {
  background-color: rgb(255, 255, 255);
}

.feed__scroll {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden; 
  overflow-y: auto;
}

.feed__grid-wrapper {
  display: flex;
  flex-direction: column;
}

.feed__grid {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(210px, max-content));
  width: calc(100vw - 400px);
  max-width: 900px;
  height: calc(100vh - 102px);
}


.feed__loader {
  padding-top: 52px;
  width: calc(100vw - 365px);
}

.feed__loader-spacer {
  height: 100vh;
}

.feed__results {
  margin-top: 17px;
  margin-bottom: 17px;
  color: rgb(25, 42, 50);
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
}

.feed__no-results {
  margin-top: 34px;
}

.feed__results-search {
  font-weight: bold;
  text-transform: capitalize;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
