.landing__sliders-wrapper {
  display: flex;
  flex: 1 1 0%;
  margin-left: 1rem;
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.landing__sliders-wrapper-rev {
  display: flex;
  flex: 1 1 0%;
  margin-left: 1rem;
  overflow: hidden;
  height: 100vh;
  position: relative;
}

@media screen and (min-width: 0px) and (max-width: 1350px) {
  .landing__sliders-wrapper.three { 
    display: none; 
  }
}

@media screen and (min-width: 0px) and (max-width: 1100px) {
  .landing__sliders-wrapper-rev.two { 
    display: none; 
  }
}

@media screen and (min-width: 0px) and (max-width: 900px) {
  .landing__sliders-wrapper.one { 
    display: none; 
  }
}

.landing__slider {
  display: flex;
  flex-wrap: wrap;
}

@keyframes landing__slider {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, calc((((100vw - 1rem - 1px - 500px) / 4) ) * -12), 0);
  }
}

.landing__slider {
  animation: landing__slider 120s linear infinite;
}

.landing__slider-rev {
  display: flex;
  flex-wrap: wrap;
}

@keyframes landing__slider-rev {
  0% {
    transform: translate3d(0, calc((((100vw - 1rem - 1px - 500px) / 4) ) * -12), 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.landing__slider-rev {
  animation: landing__slider-rev 120s linear infinite;
}

.landing__slider-img {
  width: 100%;
  margin-bottom: 1rem;
  margin-right: 0rem;
  transition: opacity 0.5s;
}

.image-visible {
  opacity: 1.0;
}

.image-hidden {
  opacity: 0;
}