.landing__sliders-wrapper {
  display: flex;
  flex: 1 1 0%;
  margin-left: 1rem;
  overflow: hidden;
  /* height: 100vh; */
  position: relative;
}

.landing__sliders-wrapper-rev {
  display: flex;
  flex: 1 1 0%;
  margin-left: 1rem;
  overflow: hidden;
  /* height: 100vh; */
  position: relative;
}

.slider-blur {
  filter: blur(48px);
  -webkit-filter: blur(48px);
  -moz-filter: blur(48px);
  -o-filter: blur(48px);
  -ms-filter: blur(48px);
}

.landing__slider {
  display: flex;
  flex-wrap: wrap;
  animation: landing__slider-4 60s linear infinite;
}

.landing__slider-rev {
  display: flex;
  flex-wrap: wrap;
  animation: landing__slider-rev-4 60s linear infinite;
}

@keyframes landing__slider-4 {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, calc(((100vw - 1rem - 1px - 500px) / 4) * -12), 0);
  }
}

@keyframes landing__slider-3 {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, calc(((100vw - 1rem - 1px - 500px) / 3) * -12), 0);
  }
}

@keyframes landing__slider-2 {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, calc(((100vw - 1rem - 1px - 500px) / 2) * -12), 0);
  }
}

@keyframes landing__slider-1 {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, calc((100vw - 1rem - 1px - 500px) * -12), 0);
  }
}

@keyframes landing__slider-rev-4 {
  0% {
    transform: translate3d(0, calc(((100vw - 1rem - 1px - 500px) / 4)  * -12), 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes landing__slider-rev-3 {
  0% {
    transform: translate3d(0, calc(((100vw - 1rem - 1px - 500px) / 3) * -12), 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes landing__slider-rev-2 {
  0% {
    transform: translate3d(0, calc(((100vw - 1rem - 1px - 500px) / 2 ) * -12), 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes landing__slider-rev-1 {
  0% {
    transform: translate3d(0, calc((100vw - 1rem - 1px - 500px) * -12), 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@media screen and (min-width: 0px) and (max-width: 1350px) {
  .landing__sliders-wrapper.three { 
    display: none; 
  }

  .landing__slider {
    animation: landing__slider-3 60s linear infinite;
  }

  .landing__slider-rev {
    animation: landing__slider-rev-3 60s linear infinite;
  }
}

@media screen and (min-width: 0px) and (max-width: 1100px) {
  .landing__sliders-wrapper-rev.two { 
    display: none; 
  }

  .landing__slider {
    animation: landing__slider-2 60s linear infinite;
  }

  .landing__slider-rev {
    animation: landing__slider-rev-2 60s linear infinite;
  }
}

@media screen and (min-width: 0px) and (max-width: 900px) {
  .landing__sliders-wrapper.one { 
    display: none; 
  }

  .landing__slider {
    animation: landing__slider-1 60s linear infinite;
  }

  .landing__slider-rev {
    animation: landing__slider-rev-1 60s linear infinite;
  }
}

.landing__slider-img {
  width: 100%;
  align-self: center;
  margin-bottom: 1rem;
  margin-right: 0rem;
  transition: opacity 0.5s;
}

.landing__slider-svg {
  width: 100%;
  margin-bottom: 1rem;
  margin-right: 0rem;
  opacity: 0.5;
  transition: opacity 0.5s;
  transform: rotate(15deg) translate(-10%);
}

.image-visible {
  opacity: 1.0;
}

.image-hidden {
  opacity: 0;
}