@import '~flag-icon-css/css/flag-icon.css';

.modal {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 11;
  max-height: 0px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms ease;
}

.modal.show {
  opacity: 1;
  pointer-events: auto;
}

.modal__scroll {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 42, 50, 0.7);
  overflow-y: scroll;
  opacity: 1;
}

.modal__scroll.checkedout-scroll {
  display: flex;
  align-items: center;
}

.modal__loader {
  display: flex;
  flex-direction: column;
}

.modal__content-loading {
  height: 80vh;
}

.modal__content {
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: rgb(255, 255, 255);
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 1080px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.modal__content.checkedout-content {
  padding-right: 0px;
  padding-left: 0px;
}

.modal__content-wrapper {
  display: flex;
  flex-direction: column;
}

.modal__header {
  width: 100%;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: auto;
  height: 40px;
}

.modal__tab-bar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}

.modal__tab-bar {
  height: 24px;
  line-height: 24px;
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 0px;
  padding-right: 40px;
  padding-bottom: 0px;
  padding-left: 0px;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
}

.modal__tab-wrapper {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(47, 183, 236);
  height: calc(100% + 4px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 4px;
  padding-left: 4px;
}

.modal__tab-label {
  height: 24px;
  line-height: 24px;
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 700;
  color: rgb(25, 42, 50);
  letter-spacing: 0.3px;
}

.modal__close {
  width: 30px;
  height: 30px;
  display: flex;
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  background: none;
}

.modal__close:focus {
outline: none;
}

.modal__product-info {
  display: flex;
}

.modal__checkedout-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
  overflow: hidden;
}

.modal__checkedout-text-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.modal__checkedout-title {
  color: rgb(0, 73, 104);
  font-size: 78px;
  font-weight: 700;
  margin-bottom: 20px;
}

.modal__checkedout-text {
  color: rgba(25, 42, 50, 1);
  font-size: 32px;
  font-weight: 500;
}

.modal__left {
  width: 60%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
}

.modal__images {
  padding-bottom: 40px;
  display: flex;
}

.modal__images-main {
  display: flex;
  position: relative;
}

.modal__images-side {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 568px;
  width: 64px;
  margin-right: 16px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.modal__scroll-top {
  width: 64px;
  height: 16px;
  background-color: rgb(25, 42, 50);
  position: absolute;
  top: 0px;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
  opacity: 1;
  transition: opacity 0.3s;
}

.modal__scroll-top.hide {
  opacity: 0;
  pointer-events: none;
}

.modal__images-container {
  transition: translateY 0.5s;
}

.modal__scroll-bottom {
  width: 64px;
  height: 16px;
  background-color: rgb(25, 42, 50);
  position: absolute;
  bottom: 0px;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.3s;
}

.modal__scroll-bottom.hide {
  opacity: 0;
  pointer-events: none;
}

.modal__image-button {
  width: 64px;
  height: 64px;
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: pointer;
  margin-bottom: 16px;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__image-button.selected {
  box-sizing: border-box;
  border: solid 1px rgb(204, 204, 204);
}

.smooth-image-main {
  width: 568px;
  height: 568px;
  background-size: 568px 568px;
  transition: opacity 0.5s;
}

.smooth-image-checkout {
  width: 1268px;
  height: 568px;
  transform: rotate(10deg);
  transition: all 2s ease;
}

.image-visible-checkout {
  opacity: 0.14;
}

.image-hidden-checkout {
  opacity: 0;
  transform: rotate(-5deg);
}

.image-visible {
  opacity: 1.0;
}

.image-hidden {
  opacity: 0;
}

.image-selected {
  opacity: 0.68;
}

.smooth-image-small {
  width: 64px;
  height: 64px;
  background-size: 64px 64px;
  transition: opacity 0.5s;
}

.modal__right {
  width: 40%;
  padding-left: 64px;
  position: relative;
  box-sizing: border-box;
}

.modal__right-wrapper {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(240, 245, 247);
  border-right-color: rgb(240, 245, 247);
  border-bottom-color: rgb(240, 245, 247);
  border-left-color: rgb(240, 245, 247);
  padding: 32px;
  top: 0px;
  width: 368px;
  position: sticky;
  box-sizing: border-box;
}

.modal__product-details {
  padding-bottom: 4px;
}

.modal__product-title {
  font-weight: 400;
  font-size: 18px;
  color: rgb(25, 42, 50);
  word-wrap: break-word;
}

.modal__pricing-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 0px;
}

.modal__price-info-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.modal__actual-price {
  align-self: flex-end;
  font-size: 28px;
  line-height: 24px;
  margin-right: 12px;
  font-weight: bold;
  color: rgb(25, 42, 50);
}

.modal__original-price {
  align-self: flex-end;
  font-size: 28px;
  margin-right: 12px;
  line-height: 24px;
  color: rgb(175, 199, 209);
  position: relative;
  text-decoration: line-through;
}

.modal__taxes {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(126, 154, 166);
}

.modal__verified-wrapper {
  width: 100%;
  padding-top: 0px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: rgb(240, 245, 247);
  display: flex;
  flex-direction: column;
  margin-left: 32px;
}

.modal__verified-banner {
  display: flex;
  margin-top: 32px;
}

.modal__verified {
  margin-right: 8px;
}

.modal__verified-badge {
width: 20px;
flex-shrink: 0;
display: flex;
align-items: center;
justify-content: center;
}

.modal__verified-svg {
  height: 20px;
  width: 24px;
  margin-right: 0px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.modal__usa-svg {
  height: 20px;
  width: 24px;
  margin-right: 0px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.modal__express-svg {
  height: 20px;
  width: 24px;
  margin-right: 0px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.modal__verified-info {
  margin-left: 12px;
}

.modal__verified-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.modal__verified-detail {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}


.modal__shipping-wrapper {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: rgb(240, 245, 247);
  align-items: center;
  flex-direction: column;
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;
  width: 100%;
  color: rgb(25, 42, 50);
  letter-spacing: 0.4px;
  font-size: 14px;
  margin-left: 32px;
}

.modal__shipping-container {
  box-sizing: border-box;
}

.modal__shipping-info {
  width: 100%;
  color: rgb(25, 42, 50);
  letter-spacing: 0.4px;
  font-size: 16px;
  font-weight: 400;
}

.modal__shipping-speed {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.modal__shipping-speed.express-shipping {
  margin-top: 16px;
}

.modal__shipping-speed-title {
  display: inline;
  font-weight: bold;
  letter-spacing: 0.4px;
  padding-right: 4px;
}

.modal__shipping-speed-amount {
  display: inline;
  margin-right: 8px;
  margin-left: 8px;
}

.modal__shipping-express-icon {
  height: 20px;
  width: 20px;
}

.modal__shipping-dates {
margin-bottom: 4px;
}

.modal__sold-by {
  color: rgb(126, 154, 166);
  width: 100%;
  margin-top: 12px;
}

.modal__selections-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.modal__selection {
  margin-bottom: 20px;
  position: relative;
}

.modal__selection-label {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 0px;
  font-size: 16px;
  font-weight: 700;
}

.modal__selection-label.label-error {
 color: rgb(236, 47, 77);
}

.modal__selection-button-container {
  margin-top: 0px;
  color: rgb(25, 42, 50);
  border-radius: 2px;
  border: 1px solid rgb(212, 227, 235);
  background-color: rgb(248, 250, 251);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal__selection-button-container.container-error {
  border: 1px solid rgb(236, 47, 77);
}

.modal__selection-button-text {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 16px;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  min-height: 42px;
  width: calc(100% - 32px);
  display: flex;
  align-items: center;
}

.modal__selection-button {
  position: relative;
  width: 90%;
  text-overflow: ellipsis;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}

.modal__selection-button.no-choice {
  justify-content: flex-start;
}

.modal__selection-button:focus {
  outline: none;
}

.modal__selection-arrow {
  margin-left: 12px;
  margin-right: 12px;
  position: relative;
  top: -2px;
}

.modal__selection-arrow-svg {
  height: 5px;
  width: 8px;
  transform: rotate(0deg); 
  transform: translateY(1px);
  transition: all 0.25s ease;
}

.modal__selection-arrow-svg.arrow-flip {
  transform: rotate(180deg); 
}

.modal__selections {
  display: inline-block;
  height: auto;
  max-height: 1000px;
  width: 100%;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  padding-right: 16px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  border: none;
  box-sizing: border-box;
  transition: max-height 0.5s ease;
}

.modal__selection.size-list {
  z-index: 2;
}

.modal__selections:after {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: 2px;
  border: 1px solid rgb(212, 227, 235);
  pointer-events: none;
}

.modal__selections.hide-selections {
  max-height: 0;
}

.modal__select-default {
  display: none;
}

.modal__select {
  font-size: 16px;
  font-weight: 400;
  min-height: 42px;
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-right: 16px;
  padding-left: 16px;
  justify-content: left;
  flex-shrink: 0;
  z-index: 10;
}

.modal__select:hover {
  background-color: rgb(248, 250, 251);
}

.modal__select-text {
  position: relative;
  width: 90%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 0px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modal__select-icon-wrapper {
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.modal__select-icon-svg {
  height: 20px;
  width: 25px;
}

.modal__buy {
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 140px;
  cursor: pointer;
  background-color: rgb(255, 86, 34);
  height: 48px;
}

.modal__buy:hover {
  background-color: rgb(204, 68, 27);
}

.modal__buy-text {
  font-size: 24px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.modal__buy.no-stock {
  pointer-events: none;
  background-color: rgb(240, 245, 247);
}

.modal__buy-text.no-stock-text {
  color: rgb(126, 154, 166);
}

.modal__content-leave-wrapper {
  background-color: rgb(255, 255, 255);
  min-width: 444px;
  text-align: center;
  padding: 58px;
  color: rgb(25, 42, 50);
  position: relative;
  margin: auto;
  border-radius: 4px;
  width: 444px;
  padding: 58px;
  box-sizing: border-box;
}

.modal__leave-question-large {
  font-size: 24px;
  font-weight: bold;
  color: rgb(25, 42, 50);
  box-sizing: border-box;
}

.modal__leave-question-small {
  box-sizing: border-box;
  margin-top: 36px;
  font-size: 16px;
  font-weight: 300;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.modal__leave-no {
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0px 16px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: 48px;
  min-width: 104px;
  background-color: rgb(47, 183, 236);
  color: rgb(255, 255, 255);
  transition: background-color 0.2s ease 0s;
  width: 100%;
  margin: 24px 0px 18px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
}

.modal__leave-no:hover {
  background-color: rgb(0, 152, 211);
}

.modal__leave-yes {
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  color: rgb(47, 183, 236);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.modal__description-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 32px 0px;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: rgb(240, 245, 247);
  color: rgb(25, 42, 50);
}

.modal__description-header {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  align-items: center;
}

.modal__description-title {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  padding-left: 16px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: rgb(25, 42, 50);
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: 0;
}

.modal__description-less {
  margin-right: 16px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  letter-spacing: 0.3px;
  color: rgb(47, 183, 236);
}

.modal__description-container {
  box-sizing: border-box;
  height: auto;
  max-height: 600px;
  transition-duration: 300ms;
  transition-timing-function: initial;
  transition-delay: initial;
  transition-property: max-height;
  overflow-x: hidden;
  overflow-y: hidden;
}

.modal__description-container.description-show-less {
  max-height: 0;
}

.modal__description-text {
  margin-top: 16px;
  box-sizing: border-box;
  padding: 0px 16px;
  width: 100%;
  line-height: 1.15;
  white-space: pre-wrap;
  overflow-x: hidden;
  overflow-y: hidden;
  color: rgb(25, 42, 50);
}

.modal__merchant-section {
  display: flex;
  width: 100%;
  font-size: 14px;
  color: rgb(25, 42, 50);
  box-sizing: border-box;
}

.modal__merchant-info {
  box-sizing: border-box;
  padding: 0px 16px;
  display: flex;
  margin-top: 16px;
  width: 50%;
}

.modal__merchant-img {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
}

.modal__merchant-description {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.modal__merchant-name {
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  margin-top: 3px;
  color: rgb(25, 42, 50);
  cursor: pointer;
  text-decoration: none;
}

.modal__feedback-wrapper {
  width: 100%;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: rgb(240, 245, 247);
  padding-top: 32px;
  padding-right: 17px;
  padding-left: 17px;
  margin-left: 32px;
  color: rgb(25, 42, 50);
}

.modal__feedback-header {
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
}

.modal__feedback-title {
  font-size: 18px;
  font-weight: 700;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: 0;
  display: block;
  color: rgb(25, 42, 50);
}

.modal__feedback-show-more {
  font-size: 16px;
  font-weight: 400;
  color: rgb(47, 183, 236);
  cursor: pointer;
  display: block;
}

.modal__review-container {
  margin-bottom: 34px;
  display: flex;
  text-align: left;
  padding-top: 0px;
  padding-right: 16px;
}

.modal__review-profile-wrapper {
  height: 40px;
  cursor: pointer;
  text-decoration: none;
}

.modal__review-profile-image {
  width: 40px;
  height: 40px;
  background-size: 40px;
  border-radius: 100%;
  background-color: rgba(47, 183, 236, 0.3);
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(47, 183, 236);
  opacity: 1;
  flex-shrink: 0;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

.modal__review-comment-container {
  margin-left: 16px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.modal__review-comment-header {
  display: flex;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: rgb(25, 42, 50);
}

.modal__review-user-name {
  display: flex;
  align-items: center;
  flex: 1 1 0%;
  font-weight: bold;
  color: rgb(25, 42, 50);
  box-sizing: border-box;
}

.modal__review-stars-wrapper {
  box-sizing: border-box;
  display: inline-flex;
}

.modal__review-star {
  box-sizing: border-box;
  height: 16px;
  width: 16px;
  cursor: auto;
  margin: 0px 0px 0px 4px;
}

.modal__review-comment-subheader {
  display: flex;
  font-size: 12px;
  font-weight: 400;
  color: rgb(126, 154, 166);
  letter-spacing: 0.4px;
}

.modal__review-comment-flag {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  margin-right: 4px;
}

.modal__review-comment-divider {
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 700;
  color: rgb(126, 154, 166);
  margin: 0px 4px;
}

.modal__review-comment-number {
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 700;
  color: rgb(25, 42, 50);
  margin-right: 4px;
}

.modal__review-comment {
  box-sizing: border-box;
  color: rgb(25, 42, 50);
  margin-top: 7px;
  overflow-wrap: break-word;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.modal__review-comment-time {
  font-size: 12px;
  font-weight: 400;
  margin-top: 4px;
  color: rgb(126, 154, 166);
}